@{
    ViewData["Title"] = "Programacion5";
}

<div class="text-center">

    <h1 class="display-4">Paisajes</h1>
    <p>Más información <a href="https://pixabay.com/es/images/search/paisaje/">En este enlace podemos encontrar más imagenes</a>.</p>

    <p>Los paisajes naturales son aquellos espacios geográficos que no han sido modificados por el ser humano. En contraposición, los sitios alterados por la actividad humana se conocen como paisajes culturales.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzLU5PY75tk7h_ks2pZc9GB_aiICiM6IdIrw" />

</div>
